/Rouse.Tests/bin/iPhoneSimulator/Debug/err.log
/Rouse.Tests/bin/iPhoneSimulator/Debug/Rouse.dll
/Rouse.Tests/bin/iPhoneSimulator/Debug/Rouse.dll.mdb
/Rouse.Tests/bin/iPhoneSimulator/Debug/RouseTests.exe
/Rouse.Tests/bin/iPhoneSimulator/Debug/RouseTests.exe.mdb
/Rouse/bin/Debug/Rouse.dll
/Rouse/bin/Debug/Rouse.dll.mdb
/RouseSamples/bin/
/RouseSamples/obj/
/Rouse.Tests/bin/iPhoneSimulator/Debug/RouseTests.app/RouseTests
/Rouse.Tests/obj/Debug/monotouch_version